header{
    text-align: left;
    color: red;
    padding-left: 27px;
}
body{
    text-align: left;
    background-color: black;
    color: red;
}
.input-group{
   display: inline;
   text-align: left;
}
.question{
    text-decoration: underline;
}