
.heading, #random, #search, #login, #keyword, #commit, #login, #signin{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center; 
}

.heading{
    padding-top: 10px;
}

.mostViewed, .mostPopular, .mostDisliked{
    padding-right: 50px;
    padding-bottom: 50px;
}

footer{
    border-top: black 100px;
    text-align:center;
}