nav{
    text-align: center;
}
h1{
    text-align: center;
}
row2{
    padding-left: 100px;
}
row3{
    padding-left: 200px;
}
row4{
    padding-left: 100px;
}
middle{
    padding-left: 100px;
}
body{
    text-align: center;
}